// $height : 200px; //全局变量声明不在大花括号内
// $bgcolor : blue;
// $width: 100px;

// body {
//     .father01 {
//         //嵌套
//         width: $width ;
//         height: $height ;
//         $border : 1px solid red; //局部变量是声明在元素内的
//         $bgcolor : purple; //全局变量和局部变量名一致时，调用局部变量进行覆盖
//         background-color: $bgcolor ;
//     }
// }

.login-body {
    display: flex;
    width: 100%;
    height: 100%;

    .sign-in {
        position: relative;
        top: 10%;
        left: 20%;
        width: 60%;
        height: 80%;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        
        .form{
            width: 70%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .picture {
            width: 30%;
            
        }

        input{
            width: 70%;
            font-size: 18px;
            border: none;
            border-bottom: 1px solid rgba(109, 93, 93, 0.4);
        }

        
    }
}

